@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

m {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #666;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.link:hover {
  transform: translateY(-5px);
}

.link i {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 1rem; /* Space between links */
}

.typing-title {
  border-right: 2px solid #fff; /* Cursor effect */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide the overflow */
  animation: typing 3s steps(10, end), blink-caret 0.75s step-end infinite; /* Typing and blinking */
}

.special-link {
  grid-column: span 2; /* Make it span across both columns */
  text-align: center; /* Center the text */
}

@keyframes typing {
  from {
    width: 0; /* Start with no width */
  }
  to {
    width: 100%; /* Full width */
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; /* No border */
  }
  50% {
    border-color: #fff; /* White border */
  }
}
